@font-face {
    font-family: "logo";
    src: url("../Archicoco.woff");
  }
  
  @font-face {
    font-family: "Cairo";
    src: url("../Cairo-VariableFont_slnt\,wght.ttf");
  }
  
  /* 
  @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Outfit:wght@300;400;600&display=swap"); */
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Cairo", sans-serif;
    background-color: #eee;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/hero.jpg);
    background-size: cover;
    position: relative;
  }
  
  nav {
    color: white;
    background-color: #24262b;
    padding-bottom: 20px;
    position: fixed;
    z-index: 99999;
    width: 100%;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  nav .logo {
    font-family: "logo";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    color: #eee;
  }
  nav .links {
    width: 60%;
    position: relative;
  }
  nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  nav ul li {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
  }
  
  nav ul li:hover {
    transition: 0.3s;
    color: #333;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-content p {
    text-align: center;
    color: white;
    word-wrap: break-word;
  }
  
  .header-content p:first-child {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 35px;
    letter-spacing: 6px;
  }
  
  .header-content p:nth-child(2) {
    font-weight: 800;
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 800;
  }
  
  .header-content p:nth-child(3) {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  nav .container .icon {
    display: none;
  }
  
  @media (min-width: 768px) {
    .header .header-content {
      width: 80%;
    }
    .header-content p:first-child {
      font-size: 46px;
      margin-bottom: 15px;
      margin-top: 60px;
      letter-spacing: 6px;
    }
  
    .header-content p:nth-child(2) {
      margin-bottom: 40px;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 3px;
    }
  
    .header-content p:nth-child(3) {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
  
  @media (min-width: 992px) {
    nav ul {
      width: 100%;
    }
  
    .header-content p:first-child {
      font-size: 56px;
      margin-bottom: 35px;
      letter-spacing: 6px;
    }
  
    .header-content p:nth-child(2) {
      margin-bottom: 40px;
      font-size: 50px;
      font-weight: 800;
    }
  
    .header-content p:nth-child(3) {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 993px) {
    nav .links {
      width: fit-content;
    }
  
    nav ul {
      position: absolute;
      background-color: #eee;
      right: 0;
      top: calc(100% + 15px);
      min-width: 200px;
      z-index: 1;
      display: none;
    }
  
    nav .links ul a li {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #333;
      transition: 0.5s;
      border-bottom: 1px solid rgb(150, 150, 150);
      font-size: 16px;
    }
    nav .links ul a:hover li {
      padding-left: 25px;
      color: #777;
    }
  
    nav .links ul::before {
      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #f6f6f6 transparent;
      position: absolute;
      right: 0px;
      top: -20px;
    }
  
    nav .links:hover ul {
      display: block;
    }
  
    nav .container .icon {
      display: inline-block;
      width: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  
    nav .container .icon span {
      background-color: rgb(255, 255, 255);
      margin-bottom: 5px;
      height: 2px;
    }
  
    nav .container .icon span:first-child {
      width: 100%;
    }
  
    nav .container .icon span:nth-child(2) {
      width: 60%;
      transition: 0.5;
    }
  
    nav .container .icon span:last-child {
      width: 100%;
    }
  
    nav .container .icon:hover span:nth-child(2) {
      width: 100%;
    }
  
    nav .container .icon:hover ul {
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    .header-content {
      width: 95%;
    }
    .header-content p:first-child {
      font-size: 40px;
      margin-bottom: 24px;
      margin-top: 83px;
      letter-spacing: 3px;
    }
    .header-content p:nth-child(2) {
      margin-bottom: 35px;
      font-size: 40px;
      font-weight: 800;
    }
  
    .header-content p:nth-child(3) {
      font-size: 20px;
      margin-bottom: 50px;
    }
  
    .btn:link,
    .btn:visited {
      padding: 10px 35px;
    }
  }
  
  .btn:link,
  .btn:visited {
    position: relative;
    display: flex;
    font-size: 25px;
    color: black;
    background: #eee;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    padding: 10px 35px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    counter-reset: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
  }
  
  
  #logo{
      color: #eee;
    }
    
    
#about-us{
        display: grid;
    }
    
#about-us{
    grid-template-columns: repeat(3,1fr);

    grid-template-areas: 
    "box1 box2 box2"
    "box1 box2 box2";
    margin: 50px;
}

.container{
    display: grid;
}
.container{
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "ser ser ser ser"
    "ser-t ser-t ser-t ser-t"
    "ser1 ser2 ser3 ser4";
    gap: 15px;
    justify-content: center;
}

.container-price{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "plan1 plan2 plan3 plan4";
    gap: 10px;
    justify-content: center;
    margin: 120px;
}

@media (max-width:1200px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "ser ser ser"
        "ser-t ser-t ser-t"
        "ser1 ser2 ser3"
        "ser4 ser4 ser4"
       ;
        justify-content: center;
        padding: 0%;
        gap: 10px;
    }
    .img-1{
        height: 100%;
    }
    
    .container-price{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-areas: 
        "header  header header"
        "plan1 plan2 plan3 "
        "plan4 ll ll";
        justify-content: center;
        margin: 15px;
    }
    
}
@media (max-width:900px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "ser ser"
        "ser-t ser-t"
        "ser1 ser2"
        "ser3 ser4";
        justify-content: center;
        padding: 0%;
    }
    #about-us{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "box1  box2"
        "box1  box2";
        /* margin: 50px; */
    }
    .img-1{
        height: 100%;
    }

    .container-price{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-areas: 
        "header  header"
        "plan1 plan2 "
        "plan4 plan3 ";
        justify-content: center;
        margin: 50px;
    }
}
@media(max-width: 600px){
    #about-us{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "box1"
        "box2";
        margin: 50px;
    }
    .about-buttons{
        display: flex !important;
        flex-wrap: wrap;
    }

    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "ser"
        "ser-t"
        "ser1"
        "ser2"
        "ser3"
        "ser4";
        gap: 15px;
        justify-items: center
    }
    .container-price{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-areas: 
        "header "
        "plan1"
        " plan2"
        "plan3"
        "plan4  ";
        justify-content: center;
        margin: 50px;
    }
}


.contact-us{
    margin: 10px;
}


.border-primary{
    grid-area: plan1;
}
.border-danger{
    grid-area: plan2;
}
.border-warning{
    grid-area: plan3;
}
.border-dark{
    grid-area: plan4;


}

.header-plane{
    grid-area: header;
    text-align: center;
}







.header-ser{
    grid-area: ser;
    text-align: center;
}
.header-ser-2{
    grid-area: ser-t;
    text-align: center;
}
.ser-1{
    grid-area: ser1;
    height: 600px;
}
.ser-2{
    height: 600px;
    grid-area: ser2;
}.ser-3{
    height: 600px;
    grid-area: ser3;
}.ser-4{
    height: 600px;
    grid-area: ser4;
}
.card{
    height: 100%;
}
.card img{
    aspect-ratio: 8/8;
}





.about-img{
    grid-area: box1;
}
.about-text{
    grid-area: box2;
}

.img-1{
    width: 100%;
}

.about{
    color: #777;
    margin-left: 25px;
    font-family: "logo";

}
.about-1{
    margin-left: 25px;
    font-weight: 700 !important;
    color: "black";
}
.about-2{
    margin-left: 25px;
    font-weight: 250 !important;
    color: "black"; 
}
.about-buttons{
    grid-area: box3;
}
.about-buttons a{
    background-color: #24262b !important;
    color: #eee !important;
    display: inline;
}
